# Midnight Preview Contract Address
# You can set this in Vercel to override the local storage fallback.
VITE_CONTRACT_ADDRESS=b54ec82c83b0ab08aaba7abdede0b9a8eb0e4dbff76413843cb345e4429733d5

# Application specific thresholds
VITE_MIN_GPA_THRESHOLD=800
VITE_MAX_INCOME_THRESHOLD=250000
